.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.head{
    margin: 6rem 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    margin-top: 1rem;
    height:6rem;
    width: 6rem;
    background-color: #0000dd;
    border-radius: .5rem;
}
.btns{
    display: flex;
    flex-direction: column;
}
.btn{
    margin: 1rem;
    height: 3rem;
    width: 10rem;
    color: #fff;
    font-size: 1.3rem;
    background-color: #11dd11;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px #00000077;
}
.auth{
    margin-top: 7rem;
}
.auth-btn{
    margin: 1rem;
    height: 2rem;
    width: 7rem;
    color: #fff;
    font-size: 1rem;
    background-color: #0000dd;
    border-radius: .5rem;
    box-shadow: 1px 1px 10px #00000077;
}
