body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 20rem;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 1.5rem #00000077;
}

h2{
    text-align: center;
    margin: 0 auto 1.5rem;
}

.input-container input {
    height: 2rem;
    background-color: #dddddd;
    border-radius: .5rem;
    outline: none;
    border: 0px solid #11dd11;
    box-sizing: border-box;
}

.input-container input:focus {
    border-bottom: 3px solid #11ee11;
    background-color: #c8c8c8;
    transition-property: border;
    transition: 200ms ease;
}

input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 1rem;
    background: #11dd11;
    border-radius: .5rem;
    border: none;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 1px 1px 10px #00000077;
}

input[type="submit"]:hover {
    background: #00ee00dd;
}

.button-container {
    display: flex;
    justify-content: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 1rem;
}

.link-box{
    margin-top: 1rem;
    text-align: center;
}
.Link{
    text-decoration: none;
    text-decoration-style: none;
    padding: .1rem .5rem;
    color: #000;
}