.online-match{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join-forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}