.online-match{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join-forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.create-btns{
    height: 4rem;
    width: 10rem;
    font-size: 1.25rem;
    background-color: blue;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 1px 1px 1rem #000000bb;
    position: relative;
}
.create-btns:hover{
    background-color: #1111ee;
}
.create-game, .join-game{
    position: absolute;
    z-index: 1;
}